*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}

ul li {
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  padding: 0.8rem;
  z-index: 1000;
  background: white;
  display: none;
  box-sizing: border-box;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

nav .row .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0.94rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 576px) {
  nav .row .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  nav .row .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  nav .row .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  nav .row .container {
    max-width: 1140px;
  }
}

nav .row .container .log a {
  font-size: 1.44rem;
  color: #44412d;
  font-weight: 600;
}

nav .row .container .responsive {
  font-size: 1.44rem;
  color: #44412d;
}

@media (min-width: 992px) {
  nav .row .container .responsive {
    display: none;
  }
}

nav .row .container .nav-menu {
  width: 55%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  line-height: 2rem;
  list-style: none;
  padding: 0;
}

nav .row .container .nav-menu li {
  margin: 0 1.26rem 0 0.63rem;
  color: #8e865f;
  font-size: 0.94rem;
}

@media (max-width: 991px) {
  nav .row .container .nav-menu {
    display: none;
  }
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/4.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .home .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .home .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .home .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .home .container {
    max-width: 1140px;
  }
}

.home .container .hero-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.home .container .hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.home .container .hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 28px;
}

.home .container .hero-content ul {
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.home .container .hero-content ul li {
  margin-right: 20px;
}

.home .container .hero-content ul li a {
  color: white;
}

.aboutSection {
  width: 100%;
  height: auto;
  padding-top: 130px;
  padding-bottom: 90px;
  background-color: #f5eee6;
}

.aboutSection .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .aboutSection .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .aboutSection .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .aboutSection .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .aboutSection .container {
    max-width: 1140px;
  }
}

.aboutSection .container .row {
  display: flex;
  justify-content: space-between;
}

.aboutSection .container .row .col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
}

.aboutSection .container .row .col-lg-4 .div-img-bg {
  border: 20px solid #8d7757;
  width: 100%;
  height: 400px;
}

.aboutSection .container .row .col-lg-4 .div-img-bg .about-img {
  width: 100%;
  height: 100%;
}

.aboutSection .container .row .col-lg-4 .div-img-bg .about-img img {
  width: 100%;
  height: 100%;
  margin-left: 40px;
  margin-top: -40px;
  object-fit: cover;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row .col-lg-4 .div-img-bg .about-img img {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.aboutSection .container .row .col-lg-8 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  position: relative;
  width: 100%;
  padding-left: 30px;
}

.aboutSection .container .row .col-lg-8 .aboutMe .p-heading {
  font-size: 28px;
  text-align: left;
  margin: 25px 0;
  color: #4d453d;
}

.aboutSection .container .row .col-lg-8 .aboutMe .seperator {
  letter-spacing: 0.03rem;
  line-height: 28px;
  color: #64625f;
  text-align: left;
  margin-right: 55px;
  font-weight: 400;
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row .col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row {
    display: flex;
    flex-direction: column;
  }
}

.services {
  background: #f5eee6;
  padding-bottom: 50px;
}

.services .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: 576px) {
  .services .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .services .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .services .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .services .container {
    max-width: 1140px;
  }
}

.services .container .services-carousel {
  width: 100%;
  display: flex;
}

.services .container .services-carousel .services-block {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.services .container .services-carousel .services-block i {
  font-size: 44px;
  color: #8d7757;
  line-height: 44px;
}

.services .container .services-carousel .services-block span {
  color: #4d453d;
  margin: 10px 0;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
}

.services .container .services-carousel .services-block .separator {
  font-size: 13px;
  line-height: 22px;
  color: #64625f;
  letter-spacing: 0.05rem;
}

@media (max-width: 768px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 48.5%;
    max-width: 48.5%;
  }
}

@media (min-width: 992px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 23.55%;
    max-width: 23.55%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 23.55%;
    max-width: 23.35%;
  }
}

@media (min-width: 1200px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 23.65%;
    max-width: 23.65%;
  }
}

.services .container .dots {
  text-align: center;
  margin-top: 5px;
}

.services .container .dots .dot {
  background-color: #8d7757;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.portfolio {
  background-color: white;
  padding: 90px 0 50px 0;
  position: relative;
}

.portfolio .container:first-child {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .portfolio .container:first-child {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .portfolio .container:first-child {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .portfolio .container:first-child {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .portfolio .container:first-child {
    max-width: 1140px;
  }
}

.portfolio .container:first-child .section-title {
  margin-bottom: 70px;
  text-align: center;
}

.portfolio .container:first-child .section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio .container:last-child {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .portfolio .container:last-child {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .portfolio .container:last-child {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .portfolio .container:last-child {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .portfolio .container:last-child {
    max-width: 1140px;
  }
}

.portfolio .container:last-child .row .col-lg-12 {
  display: flex;
  justify-content: center;
}

.portfolio .container:last-child .row .col-lg-12 ul {
  margin: 0 auto 35px auto;
  text-align: center;
  padding: 2px 15px;
}

.portfolio .container:last-child .row .col-lg-12 ul li {
  color: #7a746f;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.portfolio .container:last-child .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio .container:last-child .portfolio-container .portfolio-item {
  flex-basis: 30%;
  margin: 1rem auto;
  height: 255px;
  position: relative;
}

.portfolio .container:last-child .portfolio-container .portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info {
  opacity: 0;
  top: 165px;
  left: 30px;
  width: 82%;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  position: absolute;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info a {
  top: 30px;
  right: 40px;
  position: absolute;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info a:last-child {
  right: 10px;
}

@media screen and (max-width: 992px) {
  .portfolio .container:last-child .portfolio-container .portfolio-item {
    flex-basis: 45.5%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .container:last-child .portfolio-container .portfolio-item {
    flex-basis: 100%;
    height: 380px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio .container:last-child .portfolio-container .portfolio-item {
    flex-basis: 100%;
    height: auto;
  }
}

.journal {
  height: auto;
  width: 100%;
  background: #f5eee6;
  padding-bottom: 60px;
  padding-top: 90px;
}

.journal .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .journal .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .journal .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .journal .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .journal .container {
    max-width: 1140px;
  }
}

.journal .container .section-title {
  margin-bottom: 70px;
  text-align: center;
}

.journal .container .section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.journal .container:last-child .journal-block {
  height: auto;
  width: 100%;
  display: inline-block;
}

.journal .container:last-child .journal-block .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.journal .container:last-child .journal-block .row .col-lg-4 {
  flex-basis: 31.5%;
}

@media screen and (max-width: 992px) {
  .journal .container:last-child .journal-block .row .col-lg-4 {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 768px) {
  .journal .container:last-child .journal-block .row .col-lg-4 {
    flex-basis: 100%;
  }
}

.journal .container:last-child .journal-block .row .col-lg-4 .journal-info {
  margin-bottom: 30px;
}

.journal .container:last-child .journal-block .row .col-lg-4 .journal-info img {
  max-width: 100%;
}

.journal .container:last-child .journal-block .row .col-lg-4 .journal-info .journal-text {
  padding: 25px 0;
}

.journal .container:last-child .journal-block .row .col-lg-4 .journal-info .journal-text h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px;
  font-weight: 500;
  color: #312c26;
  text-transform: uppercase;
}

.journal .container:last-child .journal-block .row .col-lg-4 .journal-info .journal-text .seperator {
  font-size: 14px;
  line-height: 24px;
  color: #5f544a;
  letter-spacing: 0.03rem;
}

.contact {
  height: auto;
  width: 100%;
  padding: 90px 0;
}

.contact .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .contact .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .contact .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .contact .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .contact .container {
    max-width: 1140px;
  }
}

.contact .container .contact-block1 .row {
  display: flex;
  flex-wrap: wrap;
}

.contact .container .contact-block1 .row .col-lg-6 {
  flex-basis: 50%;
}

@media screen and (max-width: 992px) {
  .contact .container .contact-block1 .row .col-lg-6 {
    flex-basis: 100%;
  }
}

.contact .container .contact-block1 .row .col-lg-6:first-child .contact-group {
  padding-left: 15px;
}

.contact .container .contact-block1 .row .col-lg-6:first-child .contact-group h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.contact .container .contact-block1 .row .col-lg-6:first-child .contact-group ul {
  padding: 0;
  margin: 0;
  color: #8d8b8b;
}

.contact .container .contact-block1 .row .col-lg-6:first-child .contact-group ul li {
  padding-bottom: 10px;
  font-weight: 300;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row {
  display: flex;
  flex-wrap: wrap;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-6 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

@media screen and (max-width: 992px) {
  .contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-6 .form-group {
  margin-bottom: 1rem;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-6 .form-group input {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12 .form-group {
  margin-bottom: 1rem;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12 .form-group input {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12 .form-group {
  margin-bottom: 1rem;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12 .form-group textarea {
  height: 170px;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-left: 10px;
  padding-top: 15px;
  text-transform: uppercase;
}

.contact .container .contact-block1 .row .col-lg-6:last-child form .row .col-lg-12:last-child input {
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  background-color: #615b40;
  color: white;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .contact .container .contact-block1 .row {
    flex-direction: column;
  }
}

.footer {
  background-color: #f5eee6;
  padding: 50px 0;
}

.footer .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .footer .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .footer .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .footer .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    max-width: 1140px;
  }
}

.footer .container .social-media {
  width: 100%;
  text-align: center;
}

.footer .container .social-media ul {
  padding-left: 0;
  display: inline-block;
  margin: 0 auto;
}

.footer .container .social-media ul li {
  display: inline-block;
}

.footer .container .social-media ul li a {
  color: #4d453d;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
