*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}

ul li {
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  padding: 0.8rem;
  background: white;
  display: none;
  box-sizing: border-box;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

nav .row .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

nav .row .container .log a {
  color: green;
  font-size: 23px;
}

nav .row .container .responsive {
  font-size: 23px;
}

@media (min-width: 992px) {
  nav .row .container .responsive {
    display: none;
  }
}

nav .row .container .nav-menu {
  width: 55%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  line-height: 32px;
  list-style: none;
  padding: 0;
}

nav .row .container .nav-menu li {
  margin: 0 25px 0 10px;
}

@media (max-width: 991px) {
  nav .row .container .nav-menu {
    display: none;
  }
}

@media (min-width: 576px) {
  nav .row .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  nav .row .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  nav .row .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  nav .row .container {
    max-width: 1140px;
  }
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/4.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .home .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .home .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .home .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .home .container {
    max-width: 1140px;
  }
}

.home .container .hero-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.home .container .hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.home .container .hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 28px;
}

.home .container .hero-content ul {
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.home .container .hero-content ul li {
  margin-right: 20px;
}

.home .container .hero-content ul li a {
  color: white;
}

.aboutSection {
  width: 100%;
  height: auto;
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: burlywood;
}

.aboutSection .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .aboutSection .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .aboutSection .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .aboutSection .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .aboutSection .container {
    max-width: 1140px;
  }
}

.aboutSection .container .row {
  display: flex;
  justify-content: space-between;
}

.aboutSection .container .row .col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
}

.aboutSection .container .row .col-lg-4 .div-img-bg {
  border: 20px solid #b8a07e;
  width: 100%;
  height: 400px;
}

.aboutSection .container .row .col-lg-4 .div-img-bg .about-img {
  width: 100%;
  height: 100%;
}

.aboutSection .container .row .col-lg-4 .div-img-bg .about-img img {
  width: 100%;
  height: 100%;
  margin-left: 40px;
  margin-top: -40px;
  object-fit: cover;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row .col-lg-4 .div-img-bg .about-img img {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.aboutSection .container .row .col-lg-8 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  position: relative;
  width: 100%;
  padding-left: 30px;
}

.aboutSection .container .row .col-lg-8 .aboutMe .p-heading {
  font-size: 28px;
  text-align: left;
  margin: 25px 0;
}

.aboutSection .container .row .col-lg-8 .aboutMe .seperator {
  text-align: left;
  margin-right: 55px;
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row .col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .aboutSection .container .row {
    display: flex;
    flex-direction: column;
  }
}

.services {
  background: #f3d3d8;
  padding-bottom: 80px;
}

.services .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: 576px) {
  .services .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .services .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .services .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .services .container {
    max-width: 1140px;
  }
}

.services .container .services-carousel {
  width: 100%;
  display: flex;
}

.services .container .services-carousel .services-block {
  border: 1px solid black;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.services .container .services-carousel .services-block i {
  font-size: 44px;
  color: green;
  line-height: 44px;
}

.services .container .services-carousel .services-block span {
  margin: 10px 0;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
}

.services .container .services-carousel .services-block .seperator {
  font-size: 13px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 48.5%;
    max-width: 48.5%;
  }
}

@media (min-width: 992px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 23.55%;
    max-width: 23.55%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 23.55%;
    max-width: 23.35%;
  }
}

@media (min-width: 1200px) {
  .services .container .services-carousel .services-block {
    flex: 0 0 23.65%;
    max-width: 23.65%;
  }
}

.services .container .dots {
  text-align: center;
  margin-top: 5px;
}

.services .container .dots .dot {
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.portfolio {
  background-color: gray;
  padding: 90px 0 50px 0;
  position: relative;
}

.portfolio .container:first-child {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .portfolio .container:first-child {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .portfolio .container:first-child {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .portfolio .container:first-child {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .portfolio .container:first-child {
    max-width: 1140px;
  }
}

.portfolio .container:first-child .section-title {
  margin-bottom: 70px;
  text-align: center;
}

.portfolio .container:first-child .section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.portfolio .container:last-child {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .portfolio .container:last-child {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .portfolio .container:last-child {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .portfolio .container:last-child {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .portfolio .container:last-child {
    max-width: 1140px;
  }
}

.portfolio .container:last-child .row .col-lg-12 {
  display: flex;
  justify-content: center;
}

.portfolio .container:last-child .row .col-lg-12 ul {
  margin: 0 auto 35px auto;
  text-align: center;
  padding: 2px 15px;
}

.portfolio .container:last-child .row .col-lg-12 ul li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.portfolio .container:last-child .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio .container:last-child .portfolio-container .portfolio-item {
  flex-basis: 30%;
  margin: 1rem auto;
  height: 255px;
  position: relative;
}

.portfolio .container:last-child .portfolio-container .portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info {
  opacity: 0;
  top: 165px;
  left: 30px;
  width: 82%;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  position: absolute;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info a {
  top: 30px;
  right: 40px;
  position: absolute;
}

.portfolio .container:last-child .portfolio-container .portfolio-item .portfolio-info a:last-child {
  right: 10px;
}

@media screen and (max-width: 992px) {
  .portfolio .container:last-child .portfolio-container .portfolio-item {
    flex-basis: 45.5%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .container:last-child .portfolio-container .portfolio-item {
    flex-basis: 100%;
    height: 380px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio .container:last-child .portfolio-container .portfolio-item {
    flex-basis: 100%;
    height: auto;
  }
}
