/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: url('./img.jpg') top center no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(66, 72, 85, 0.438);
}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

#main {
  position: relative;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #24b7a4;
  color: #fff;
  transition: all 0.4s;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 110px 0;
  /* countdown */
}

#header h1 {
  margin: 0 0 25px 0;
  padding: 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  border-top: 3px solid rgb(230, 222, 222);
  border-bottom: 3px solid rgb(230, 222, 222);
}

#header h2 {
  color: #eee;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 50px;
  margin-top: 50px;
}

#header .countdown div {
  text-align: center;
  width: 90px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.308);
  padding: 5px;
  border-radius: 3px;
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 2px;
}

#header .countdown div h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

#header .subscribe {
  /* font-size: 30px; */
  text-align: center;
}

#header .subscribe .subscribe-form {
  min-width: 400px;
  margin-top: 10px;
  padding: 6px 10px;
  position: relative;
  border-radius: 2px;
  text-align: left;
}

#header .subscribe .subscribe-form input[type='email'] {
  border: 0;
  padding: 4px 8px;
  width: 65%;
}

#header .subscribe .subscribe-form input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  font-size: 20px;
  padding: 0 20px;
  background: rgb(29, 27, 27);
  color: #fff;
  transition: 0.3s;
  border-radius: 2px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .subscribe .subscribe-form input[type='submit']:hover {
  background: black;
}

/* Subscribe messages */
#header .subscribe .error-message {
  display: none;
  color: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .sent-message {
  display: none;
  color: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .loading {
  display: none;
  text-align: center;
  padding: 15px;
}
#header .subscribe .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Subscribe messages ends */

#header .social-links {
  margin-top: 35px;
}

#header .social-links a {
  font-size: 16px;
  display: inline-block;
  color: black;
  line-height: 1;
  padding-top: 14px;
  margin: 0 3px;
  border-radius: 50%;
  text-align: center;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 1px solid black;
}

#header .social-links a:hover {
  background: black;
  color: white;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  margin: 110px 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: black;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.about {
  background: rgba(70, 60, 60, 0.466);
  padding-top: 25px;
}
.about .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.about .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.about .icon i {
  color: #fff;
  font-size: 42px;
}

.about .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .title a {
  color: #fff;
  transition: 0.3s;
}

.about .description {
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 30px;
  background: rgba(70, 60, 60, 0.466);
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: rgba(224, 217, 217, 0.459);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: black;
  color: #fff;
}

.contact .email-form {
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 30px;
  background: rgba(70, 60, 60, 0.466);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br + br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 3px;
  box-shadow: none;
  font-size: 15px;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button[type='submit'] {
  background: rgb(49, 44, 44);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type='submit']:hover {
  background: black;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(0, 0, 0, 0.397);
  padding: 30px 0;
  color: #ffffff;
  font-size: 15px;
  position: relative;
}

#footer .copyright {
  text-align: center;
}
