main {
  .main-content {
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 90px;
    .container {
      @include container;
      .entry-container {
        max-width: 66%;
        margin: 0 auto;
        .content {
          max-width: 100%;
          background-color: white;
          .block-main {
            margin-bottom: 30px;
            img {
              width: 100%;
              height: 600px;
              object-fit: cover;
              display: block;
            }
            .content-main {
              padding: 30px 20px;
              width: 100%;
              .journal-text {
                h4 {
                  font-size: 20px;
                  font-weight: 500;
                }
              }
              .post-meta {
                width: 50%;
                ul {
                  display: flex;
                  padding: 0;
                  justify-content: space-between;
                  li {
                    color: #a2a2a2;
                    font-size: 13px;
                    font-weight: normal;
                    text-transform: capitalize;
                  }
                }
              }
              .paragraph {
                margin: 25px 0 30px;
                font-weight: 300;
                padding: 0;
                font-size: 15px;
                line-height: 28px;
                color: #999999;
              }
              blockquote {
                padding: 40px;
                color: #898989;
                background-color: lightpink;
                margin: 30px 0;
                border-left: 4px solid rebeccapurple;
              }
            }
          }
        }
        .comments {
          max-width: 100%;
          background-color: white;
          padding: 30px 20px;
          margin-bottom: 30px;
          text-align: left;
          .entry-comments {
            h6 {
              font-size: 13px;
              letter-spacing: 0.1em;
              font-weight: 500;
              margin-bottom: 30px;
              color: #898989;
            }
            .entry-comments-list {
              padding-left: 0;
              li {
                .entry-comments-item {
                  margin-top: 40px;
                  padding-bottom: 40px;
                  border-bottom: 1px solid lightgray;
                  display: flex;
                  justify-content: space-evenly;
                  .entry-comments-avatar {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                  }
                  .entry-comments-body {
                    flex-basis: 90%;
                    padding-left: 25px;
                    .entry-comments-author {
                      margin-right: 10px;
                      font-size: 13px;
                      letter-spacing: 0.1em;
                      font-weight: 500;
                    }
                    .date {
                      font-size: 13px;
                      color: #999;
                    }
                    .paragraph {
                      margin: 25px 0 30px;
                      font-weight: 300;
                      padding: 0;
                      font-size: 15px;
                      line-height: 28px;
                      color: #999999;
                    }
                    .reply {
                      font-size: 13px;
                      color: black;
                      letter-spacing: 0.1em;
                      font-weight: 500;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
        }
        .contact {
          max-width: 100%;
        }
      }
    }
  }
}
