.home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/4.jpg');
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    .hero-content {
      height: 100vh;
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: white;
      h1 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 10px;
          height: 65%;
          border-right: 7px solid white;
        }
      }
      p {
        font-size: 13px;
        letter-spacing: 3px;
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 28px;
      }
      ul {
        display: flex;
        padding-left: 0;
        margin-top: 0;
        li {
          margin-right: 20px;
          a {
            color: white;
          }
        }
      }
    }
  }
}
