.journal {
  height: auto;
  width: 100%;
  background: salmon;
  padding-bottom: 60px;
  padding-top: 90px;
  .container {
    @include container;
    .section-title {
      margin-bottom: 70px;
      text-align: center;
      h2 {
        font-size: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
  .container:last-child {
    .journal-block {
      height: auto;
      width: 100%;
      display: inline-block;
      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .col-lg-4 {
          border: 1px solid black;
          flex-basis: 31.5%;
          @media screen and (max-width: 992px) {
            flex-basis: 48%;
          }
          @media screen and (max-width: 768px) {
            flex-basis: 100%;
          }
          .journal-info {
            margin-bottom: 30px;
            img {
              max-width: 100%;
            }
            .journal-text {
              padding: 25px 0;
              h4 {
                a {
                  font-size: 19px;
                  line-height: 24px;
                  margin: 0 0 13px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}
